{% extends "base.html" %}

{% block content %}
    <h1>Welcome to eshop!</h1>

    <form action="/search/" method="GET">
    {% csrf_token %}
    <input type="text" name="name">
    <input type="submit" name="submit" value="Search">
</form>



{% for result in results %}

    <p>{{result.name}}</p>

{% endfor %}



    <ul>
        {% for product in product_list %}
            <li>
                <a href="{% url 'products_detail' pk=product.id %}">{{ product.name }}</a> ({{ product.produced }}) - {{ product.price }} CZK
            </li>
        {% endfor %}
    </ul>
{% endblock %}